<h3>Войти</h3>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= simple_form_for :session, url: sessions_path do |f| %>
    <%= f.input :email, label: 'Email:' %>
    <%= f.input :password, label: 'Пароль:' %>
    <%= f.button :submit, 'Войти' %>
<% end %>
