<h3>Регистрация:</h3>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= simple_form_for @user do |f| %>
    <%= f.input :email, label: 'Email:' %>
    <%= f.input :password, label: 'Пароль:' %>
    <%= f.input :password_confirmation, label: 'Повторите пароль:' %>
    <%= f.button :submit, 'Зарегистрироваться' %>
<% end %>