<h3>Регистрация:</h3>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= simple_form_for :registration, url: registrations_path do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, label: 'Email:' %>
  <%= f.input :password, label: 'Пароль:' %>
  <%= f.input :password_confirmation, label: 'Повторите пароль:' %>
  <%= f.button :submit, 'Зарегистрироваться' %>
<% end %>