<h3><%= t('views.registration.h3') %></h3>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= simple_form_for :registration, url: registrations_path do |f| %>

  <% if @user.errors.any? %>
    <div class="error_notification">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.error_notification %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, t('simple_form.buttons.registration.submit') %>
<% end %>