<h3>Все колоды</h3>
<p id="notice"><%= notice %></p>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Имя колоды</th>
    <th>Является текущей?</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <% @packs.each do |pack| %>
      <tbody>
      <tr>
        <td><%= pack.name %></td>
        <td><%= pack.current %></td>
        <td><%= link_to 'Редактировать', edit_pack_path(pack) %></td>
        <td><%= link_to 'Удалить', pack_path(pack),
                        method: :delete,
                        data: { confirm: 'Вы уверены?' } %></td>
      </tr>
      </tbody>
  <% end %>
</table>