<h3>Карточка #<%= @card.id %></h3>
<p>
  <label>Оригинальный текст:</label>
  <%= @card.original_text %>
</p>
<p>
  <label>Перевод:</label>
  <%= @card.translated_text %>
</p>
<p>
  <label>Картинка для карточки:</label>
  <%= image_tag @card.image(:large) %>
</p>
<p>
  <label>Дата создания:</label>
  <%= @card.review_date.strftime("%d/%m/%Y") %>
</p>
<p>
  <label>Имя колоды:</label>
  <%= @pack.name %>
</p>
<%= link_to 'Назад', cards_path %>