<% if @card.nil? %>
  <p class="text-danger lead">Открывайте тренировщик потом</p>
<% else %>
  <h3>Карточка #<%= @card.id %></h3>
  <p class="text-info">Перевод:</p>
  <%= @card.translated_text %>
  <%= simple_form_for :review, url: reviews_path, method: :post do |f| %>
    <%= f.input :user_translation, label: "Оригинальный текст:"  %>
    <%= image_tag @card.image.url(:large), label: "Картинка для карточки" %>
    <%= f.hidden_field :card_id, value: @card.id %>
    <%= f.button :submit, "Проверить" %>
  <% end %>
<% end %>
<p class="text-danger lead"><%= notice %></p>
