<h3>Редактирование профиля:</h3>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<p>Ваше текущий email: <%= current_user.email %></p>
<%= simple_form_for :profile, url: profile_path(current_user), method: :patch do |f| %>
    <%= f.input :email, label: 'Новый email:' %>
    <%= f.button :submit, 'Обновить' %>
<% end %>
