<h3><%= t('views.profile.h3') %></h3>
<p class="text-danger"><%= notice %></p>
<p class="text-danger"><%= alert %></p>
<%= simple_form_for :profile, url: profile_path(current_user), method: :patch do |f| %>

  <% if current_user.errors.any? %>
    <div class="error_notification">
      <ul>
        <% current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.error_notification %>
  <p class="text-info"><%= t('views.profile.current_email_label') %>: <%= current_user.email %></p>
  <%= f.input :email %>
  <p class="text-info"><%= t('views.profile.change_password_label') %></p>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :current_pack_id, collection: current_user.packs.all %>
  <%= f.button :submit, t('simple_form.buttons.profile.submit') %>
<% end %>
<p>
  <% if current_user.has_linked_github? %>
    <%= link_to t('menu.unlink_github'), delete_oauth_path('github'), method: :delete %> |
  <% end %>
  <% if current_user.has_linked_twitter? %>
    <%= link_to t('menu.unlink_twitter'), delete_oauth_path('twitter'), method: :delete %>
  <% end %>
</p>
